.body-container {
    display: block;
    unicode-bidi: isolate;
}

.body-container div {
    display: block;
    unicode-bidi: isolate;
}

.body-container {
    display: grid;
    grid-template-columns: 35px calc(100% - 91px);
    grid-gap: 56px;
}

.body-container .grid-container {
    display: grid;
    grid-template-columns:calc(100% - 357px) 300px;
    grid-gap: 57px;
}