.navbar {
    background: #fff;
    padding: 12px 0;
    border-bottom: 1px solid #eee;
}
.menu-icon {
    width: 20px;
    height: 20px;
    object-fit: contain;
}

.navbar-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.menu-item-wrapper {
    position: relative;
}
.submenu {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);

    background: #fff;
    min-width: 220px;
    padding: 8px 0;

    border-radius: 6px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);

    opacity: 0;
    visibility: hidden;
    transition: all 0.25s ease;

    z-index: 1000;
}

.menu-item-wrapper:hover .submenu {
    opacity: 1;
    visibility: visible;
}


.navbar a {
    text-decoration: none;
    color: #000;
    font-weight: 600;
    font-size: 12px;
    text-transform: uppercase;
    position: relative;
    padding: 8px 0;
    transition: color 0.3s ease;
    display: block;
}

.navbar a:hover,
.navbar a.active {
    color: #d32f2f;
}

.navbar a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 0;
    height: 3px;
    background-color: #d32f2f;
    transition: width 0.3s ease;
}

.navbar a:hover::after,
.navbar a.active::after {
    width: 100%;
}



.submenu-item {
    display: block;          /* QUAN TRỌNG */
    width: 100%;
    text-align: left;

    padding: 10px 18px;
    font-size: 13px;
    font-weight: 500;
    text-transform: none;

    background: none;
    border: none;
    cursor: pointer;

    color: #333;
    white-space: nowrap;
}

.submenu-item:hover {
    background: #f5f5f5;
    color: #d32f2f;
}


.more {
    margin-left: auto;
    font-size: 26px;
    font-weight: bold;
    color: #333;
}

@media (max-width: 992px) {
    .navbar-container {
        gap: 18px;
        justify-content: center;
    }
}

@media (max-width: 768px) {
    .navbar-container {
        gap: 12px;
        font-size: 13px;
    }
}
.menu-link{
    background: none;
    border: none;
    cursor: pointer;
    padding: 8px 0;
    font-weight: 600;
    text-transform: uppercase;
    color: #000;
}

.menu-link:hover,
.submenu-item:hover {
    color: #d32f2f;
}
