.side-bar-height {
    font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", "Arial", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    font-size: 14px;
    line-height: 1.4;
    font-weight: 400;
    color: #4D4D4D;
}

.side-bar-height {
    display: block;
    unicode-bidi: isolate;
}

.side-bar-height div {
    display: block;
    unicode-bidi: isolate;
}

.side-bar-height ul {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    padding-inline-start: 40px;
    unicode-bidi: isolate;
}

.side-bar-height li {
    display: list-item;
    unicode-bidi: isolate;
}

.side-bar-height button {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    padding: 0;
    margin-bottom: 5px;
    border-radius: 50%;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
    color: #999;
    font-size: 35px;
    position: relative;
}

.side-bar-height {
    position: relative;
    margin-top: 294px;
    max-height: 2279.5px;
}

.side-bar-height .button-action {
    margin: 0 auto;
    padding: 0;
    list-style: none;
    position: sticky;
    top: 100px;
    width: max-content;
}

.side-bar-height .button-action .line {
    margin: 8px 0 0;
}

.side-bar-height .button-action .line::before {
    content: "";
    display: block;
    width: 32px;
    padding-top: 16px;
    border-top: 1px solid #E3E6E8;
}