#article-audio {
    display: block;
    unicode-bidi: isolate;
    overflow: visible !important;
}

#article-audio button {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    cursor: pointer;
    text-transform: none;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    font-weight: inherit;
    color: inherit;
}

#article-audio li {
    display: list-item;
    unicode-bidi: isolate;
}

#article-audio .body {
    margin: 20px 0 0;
    background: #F1F5F9 none;
    padding: 5px 15px 5px 5px;
    border-radius: 20px;
    font-size: 14px;
    line-height: 16px;
    min-height: 30px;
    width: 660px;

    overflow: visible !important;
    position: relative;
}

#article-audio .body .container {
    padding: 0;
    width: 660px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

#article-audio .body .container .play-button {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    background: #015E53 none;
    border-radius: 50%;
    border: none;
    padding: 0;
    -webkit-appearance: button;
}

#article-audio .body .container .play-button .icon-pause {
    width: 6px;
    height: 12px;
    border-left: 3px solid #FFF;
    border-right: 3px solid #FFF;
    margin: 0 auto;
}

#article-audio .body .container .play-button .icon {
    width: 0;
    height: 0;
    border-top: 7px solid rgba(0, 0, 0, 0);
    border-bottom: 7px solid rgba(0, 0, 0, 0);
    border-left: 9px solid #FFF;
    position: relative;
    left: 1px;
    margin: 0 auto;
}

#article-audio .body .container .time-line {
    flex: 1;
    max-width: calc(100% - 170px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
}

#article-audio .body .container .time-line .time {
    color: #333;
}

#article-audio .body .container .time-line .line {
    flex: 1;
    max-width: calc(100% - 85px);
    position: relative;
    height: 4px;
    border-radius: 2px;
    display: block;
    overflow: hidden;
    cursor: pointer;
}

#article-audio .body .container .time-line .line .seek-input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; /* Đè khít lên thanh line */
    opacity: 0;
    cursor: pointer;
    z-index: 10;
    margin: 0;
}

#article-audio .body .container .time-line .line::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: #B3B3B3 none;
}

#article-audio .body .container .time-line .line .line-icon {
    background-color: #015E53;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    pointer-events: none;
    transition: width 0.3s linear;
}

#article-audio .body .container .time-line .line .line-icon {
    background: #015E53;
    transition: width 1s linear;
    pointer-events: none;
    height: 100%;
    border-radius: 2px;
}

#article-audio .body .container .voice-speak {
    min-width: 150px;
    position: relative;
    display: flex;
    align-items: center;
}

#article-audio .body .container .voice-speak .voice-button {
    display: flex;
    align-items: center;
    cursor: pointer;
    background: rgba(0, 0, 0, 0) none;
    padding: 0;
    border: 0;
}

#article-audio .body .container .voice-speak .voice-button .voice-icon {
    display: inline-block;
    width: 28px;
    height: 28px;
    background: rgba(0, 0, 0, 0) url(https://cdnweb.dantri.com.vn/dist/70e5064c9d77b4677e71.svg) no-repeat center / 100% auto;
    color: #333;
    margin: 0 6px 0 0;
}

#article-audio .body .container .voice-speak .voice-button .voice-type {
    font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", "Arial", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    color: #1A1A1A;
}

#article-audio .body .container .voice-speak .voice-button .arrow-icon {
    display: inline-block;
    padding: 2px;
    border-left: 2px solid #333;
    border-bottom: 2px solid #333;
    margin: 0 0 2px 5px;
    transform: rotate(-45deg);
}

#article-audio .body .container .voice-speak .voice-button .arrow-icon.up {
    transform: rotate(135deg);
    margin-bottom: -2px;
}

#article-audio .body .container .voice-speak .type {
    display: none;
    position: absolute;
    top: 18px;
    right: 0;
    width: 140px;
    background-color: #E2E2E2;
    border-radius: 4px;
    list-style: none;
    padding: 5px 0;
    z-index: 1000;
}

#article-audio .body .container .voice-speak .type::after {
    content: "";
    position: absolute;
    bottom: 100%;
    right: 15px;
    border-width: 8px;
    border-style: solid;
    border-color: transparent transparent #E2E2E2 transparent;
}

#article-audio .body .container .voice-speak ul {
    margin-block-start: 1rem;
    margin-block-end: 1rem;
    padding-inline-start: 40px;
    unicode-bidi: isolate;
}

#article-audio .body .container .voice-speak .type li {
    padding: 8px 12px;
    font-size: 13px;
    color: #333;
    cursor: pointer;
    text-align: left;
    line-height: 1.4;
    transition: background 0.2s;
}

#article-audio .body .container .voice-speak .type li:hover {
    background-color: #F1F5F9;
    font-weight: bold;
}

#article-audio .body .container .voice-speak .type li:not(:first-of-type) {
    margin: 3px 0 0;
}